# IDEs
*/.idea/
/debug
/bin
*.data
*.user

/customers/*/reports/*/bin
/customers/*/reports/*.sln
/customers/*/reports/*/*.data
/customers/*/reports/*/*.user
/customers/nordblom/reports/Nordblom.suo
/scratch